@import "scrollbars.css";

:root {
--background: #282828;
--foreground: #EBDBB2;
--alpha: #00000000;
--shade: #282828;
--background-tray: #1D2021;
--red-dark: #CC241D;
--red-light: #FB4939;
--green-dark: #98971A;
--green-light: #B8BB26;
--yellow-dark: #D79921;
--yellow-light: #FABD2F;
--blue-dark: #458588;
--blue-light: #83A598;
--purple-dark: #B16286;
--purple-light: #D3869B;
--aqua-dark: #689D6A;
--aqua-light: #8EC07C;
--orange-dark: #D65D0E;
--orange-light: #FE8019;
--gray-dark: #928374;
--gray-light: #A89984;
--blue-arch: #1793D1;
--green-spotify: #1DB954;
--hover-color: #3C3A36;
--newtab-textbox-background-color: var(--background);
}

/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/
*/

.tab-content[selected="true"] {
  border: 2px solid var(--orange-dark);
  border-radius: 10px;
}

/*.tabbrowser-tab[soundplaying="true"] {*/
  /*color: var(--purple-dark) !important;*/
/*}*/

.tab-text {
  color: var(--foreground);
}

.tab-text[selected="true"] {
  color: var(--blue-dark);
}

hbox.tab-content:hover {
  /*background-color: var(--hover-color) !important;*/
  border: 2px solid var(--blue-dark);
  border-radius: 10px;
}

#tabbrowser-tabs {
  --tab-loading-fill: var(--blue-dark) !important;
}

/*buttons*/
#tabs-newtab-button {
  list-style-image: url("add.svg") !important;
  opacity: 0.7;
}

/*Buttons*/
#back-button > .toolbarbutton-icon{
  --backbutton-background: transparent !important;
  border: none !important;
}

#back-button:hover {
  background-color: var(--hover-color) !important;
}

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

#forward-button:hover {
  background-color: var(--hover-color) !important;
}

#reload-button:hover {
  background-color: var(--hover-color) !important;
}

/* New Tab Flash */

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html{
  background: var(--background) !important
}

/* This positions the tabs under the navaigator container */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

.tab-line {
  display : none !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
  fill: var(--foreground) !important;
  background-color: var(--background) !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
background-color: var(--background) !important;
}

/* remove lines */

#navigator-toolbox::after {
  display: none !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after{
  display: none !important;

}

tab{
  height:3rem;
  background-color: var(--background) !important;
  font-weight: thin !important;
  color : var(--foreground) !important;
}

.tab-content[selected="true"]
{
  background-color: var(--background) !important;
  font-weight: bold !important;
  color : var(--foreground) !important;
}

#nav-bar-customization-target {
	background-color: var(--background) !important;
}


.tabbrowser-tab{ opacity: 0.5 }
.tabbrowser-tab:hover{ opacity: 0.75 }
.tabbrowser-tab[selected]{ opacity: 1 }

#urlbar{
	box-shadow: none !important;
	background-color: var(--background) !important;
	background: none !important;
	border: none !important;
	color : var(--foreground) !important;
	font-weight: bold !important;
}

#urlbar:hover{
  box-shadow: none !important;
}

#tracking-protection-icon-container,#pageActionSeparator{ border-inline-width: 0px !important; }
.urlbar-icon,
.urlbar-icon-wrapper,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down{ background-color: transparent !important;}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){ background-color: transparent !important }

/*Tabs below nav bar
#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}
*/

#navigator-toolbox{
  margin-top: 0px;
  padding-top:0px !important;
}

#toolbar-menubar{
  position: fixed;
  top: 0px;
}

/*#navigator-toolbox { --tabs-border-color: transparent !important; }*//* remove weird line*/


/*Hide tabs bar if one tab is opened
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}

#tabbrowser-tabs #tabs-newtab-button {
  visibility: collapse !important;
}

*/

/*
  _____ ___   ___  _    ___   _   ___
|_   _/ _ \ / _ \| |  | _ ) /_\ | _ \
  | || (_) | (_) | |__| _ \/ _ \|   /
  |_| \___/ \___/|____|___/_/  \_\_|_\
*/
toolbarbutton:hover {
  background-color: var(--hover-color) !important;
}

#navigator-toolbox {
  --tabs-border-color: var(--orange-dark) !important;

}

toolbarseparator {
  display: none !important;
}

.panel-arrowcontainer {
  background-color: var(--background) !important;
}

#PopupAutoComplete {
  background-color: var(--background) !important;
}

#PopupSearchAutoComplete {
  background-color: var(--background) !important;
}

#PanelUI-button {
  border:none !important;
  margin-inline-start: 0px !important;
  padding-inline-start: 0px !important;
}

.urlbarView {
/*background: var(--background) !important;*/
}

.urlbarView-row[type="bookmark"] > span{
  color: var(--green-dark) !important;
}

.urlbarView-row[type="switchtab"] > span{
  color: var(--orange-dark) !important;
}

#urlbar-input {
  color: var(--foreground) !important;
  text-align: center !important;
}

#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;
  /* 	position: unset!important; */;
}

#urlbar-input:focus {
  color: var(--foreground) !important;
}

panelview {
  background-color:#282828 !important;
}

--panel-separator-color: none !important;
